/*
!! COMMENTS EXPLAINING THE STYLING AND FUNCTION
ARE ABOVE THE STYLE RULES
*/
body {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: #f7f5ed;
}
/*Profile and FAQ page's height*/
#profilebody,
#faqbody {
    Height: 1200px;
}
/* Dashboard page height*/
#dashboardbody {
    height: 1500px;
}

main {
    height: auto;
}
/* Navigation bar fonts*/
nav {
    font-family: Arial, Helvetica, sans-serif;
}
/* Styling for the navigation bar*/
.nav {
    padding: 10px 0px;
    overflow: hidden;
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    background-color: #406882;
    width: 100%;
    z-index: 5;
}
/* Styling for hovering over navigation objects*/
.nav a:hover,
.dropdown:hover .dropbtn {
    background-color: #1A374D;
    transition: 0.6s;
}
/* Styling for the active page on the navigation bar*/
.nav a:active {
    background-color: #B1D0E0;
    transition: 0.1s;
}
/* Styling for the words in the navigation bar*/
#navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 18px 19px;
    text-decoration: none;
    border-radius: 5px;
}
/* Styling for the HZ logo in the nav bar*/
.nav img {
    float: left;
    width: 200px;
    padding-left: 10px;
    height: 50px;
    display: overlay;
}
/* Styling for the div with the links */
#navbar {
    position: relative;
    left: 20px;
}
/* header-div (page name) styling*/
.pagename {
    padding-top: 74px;
    margin-right: 205px;
    margin-left: 30px;
    word-spacing: 20px;
}
/* Styling for the h1 in the header*/
.pagename h1 {
    text-align: center;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    letter-spacing: 7px;
    transition: 1s;
    word-spacing: 10px;
}
/* Animation for the headers when you hover over them*/
.pagename h1:hover,
.header2 h3:hover {
    letter-spacing: 14px;
    transition: 1s;
    margin-left: 2px;
}
/* styling for the header2 styling*/
.header2 {
    margin-right: 205px;
    margin-left: 30px;
}
/* styling for the h3 object of the page*/
.header2 h3 {
    text-align: center;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    letter-spacing: 7px;
    font-size: 22px;
    margin-bottom: 50px;
    transition: 1s;
}
/* styling for the page paragraph headers*/
.personal h2,
.nationality h2,
.extracurricular h2,
.whyhz h2,
.whyict h2 {
    display: inline-block;
}
/* icon styling in the paragraphs */
.icon {
    margin-top: 12px;
    float: right;
    vertical-align: center;
    width: 40px;
}
/* styling for the "Why HZ?" paragrapgh (Index.html)*/
.whyhz {
    margin-top: 50px;
    margin-left: 170px;
    margin-bottom: 150px;
    height: 100%;
    width: 60%;
    padding: 10px 30px;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(12px 10px 4px #a4a4a4);
    z-index: 3;
    font-size: 25px;
    line-height: 50px;
}
/* individual styling for the first icon on index page*/
.whyhz img{
    margin-top: 20px;
    float: right;
    vertical-align: center;
    width: 50px;
}
/* individual styling for the second icon on index page*/
.whyict img {
    margin-top: 18px;
    float: right;
    vertical-align: center;
    width: 70px;
}
/* first paragraph's (index.html) link styling*/ 
.whyhz a {
    padding: 5px;
    background-color: #f7f5ed;
    border-radius: 40px;
    text-decoration: none;
    color: #13293D;
    transition: 1s;
}
/* first paragrapgh (index.html) link's transition */
.whyhz a:hover {
    transition: 1s;
    padding: 20px;
    background-color: #B1D0E0;
}
/* first paragrapgh (index.html) list styling*/
.whyhz ul {
    line-height: 70px;
}

#reasons {
    margin-top: -20px;
    margin-bottom: -10px;
}
/* Styling for the "Why ICT?" paragrapgh (index)*/
.whyict {
    margin-top: 50px;
    margin-left: 170px;
    margin-bottom: 150px;
    height: 100%;
    width: 60%;
    padding: 10px 30px;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(12px 10px 4px #a4a4a4);
    z-index: 3;
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 1px;
}
/* Personal Information parag. styling (profile)*/
.personal {
    float: left;
    margin-left: 60px;
    height: 100%;
    width: 30%;
    padding: 10px 30px;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(12px 10px 4px #a4a4a4);
    z-index: 3;
    font-size: 18px;
}
/* Nationality parag. styling (profile)*/
.nationality {
    margin-right: 257px;
    float: right;
    height: 100%;
    width: 30%;
    padding: 10px 30px;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(12px 10px 4px #a4a4a4);
    z-index: 3;
    font-size: 18px;
}

.h2hr {
    background-color: aliceblue;
    margin: -5px;
}
/* styling for lists in profile page*/
#listnamework {
    font-size: 20px;
    font-weight: bold;
}
/* styling for lists in profile page*/
#listnamehobbies {
    font-size: 20px;
    font-weight: bold;
}
/* styling for the flag profile page*/
#flag {
    margin-top: 23px;
    width: 100%;
    height: 120px;
    margin-bottom: 25px;
}
/* styling for the div that holds the hr element*/
#hrtag {
    clear: both;
    margin-right: 205px;
    margin-left: 30px;
}
/* individual styling for the hr element in the div */
#hrtag hr {
    margin-top: 320px;
    border-radius: 2px;
    background-color: black;
    border-width: 1px;
    width: 50%;
}
/* Extracurricular parag. styling (profile)*/
.extracurricular {
    float: left;
    margin-left: 50px;
    height: 100%;
    width: 75.9%;
    padding: 10px 30px;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(12px 10px 4px #a4a4a4);
    z-index: 1;
    font-size: 22px;
}
/* Extracurricular parag. individual element styling (profile)*/
.extracurricular p {
    font-size: 15px;
}
/* Extracurricular parag. individual element styling (profile)*/
.extracurricular li {
    padding: 5px 0px;
}
/* styling for the work paragrapgh*/
#work {
    font-size: 20px;
    line-height: 30px;
}
/* styling for the dashboard*/
#dashboard {
    border: 2px solid;
    margin-left: 80px;
    margin-top: 30px;
    height: 65%;
    width: 75.9%;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
    font-size: 20px;
    border-collapse: collapse;
}
/* extra styling for the table*/
#dashboard tr {
    text-align: center;
    line-height: 45px;
}

/* styling for the div that holds the hr element in dashboard*/
#hrtagdash {
    clear: both;
    margin-right: 230px;
    margin-left: 30px;
}
/* Individual styling for the hr element in dashboard*/
#hrtagdash hr {
    color: black;
    margin-top: 30px;
    border-radius: 20px;
    background-color: black;
    border-width: 1.3px;
    width: 50%;
}
/* progress bar styling (dashboard)*/
#pbar {
    padding: 20px;
    margin-left: 295px;
    width: 50%;
}
/* FAQ paragrapgh styling*/
.faq {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 70%;
    width: 75.9%;
    padding: 30px 30px;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(12px 10px 4px #a4a4a4);
    z-index: 1;
}
/* Icon styling on FAQ*/
.faq img {
    margin: 20px;
}
/* HR styling in FAQ*/
#faqhr {
    margin-top: 10px;
    margin-bottom: 15px;
}
/* Styling for the ordered list items in FAQ*/
.faq ol {
    font-size: 18px;
    line-height: 60px;
    font-size: 20px;
}
/* Styling for the unordered list items in FAQ*/
.faq ul {
    list-style-type: square;
    line-height: 30px;
    word-spacing: 4px;
    font-size: 20px;
}
/* Styling for the anchor items in FAQ*/
.faq a {
    color: aliceblue;
    transition: 0.5s;
}
/* animation and styling for hovering over anchor items in FAQ*/
.faq a:hover {
    transition: 0.5s;
    color: aqua;
}
/* Styling for the blog paragrapgh*/
.blog {
    margin-top: 40px;
    margin-left: 170px;
    margin-bottom: 100px;
    height: 100%;
    width: 60%;
    padding: 0px 40px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(12px 10px 4px #a4a4a4);
    z-index: 3;
    font-size: 25px;
    line-height: 50px;
}
/* Styling for the anchor items in BLOG*/
.blog a {
    text-decoration: none;
    background-color: #f7f5ed;
    color: #13293D;
    padding: 20px;
    border-radius: 20px;
    transition: 1s;
}
/* Styling and Animation for the anchor items when hovering BLOG*/
.blog a:hover {
    background-color: #B1D0E0;
    padding-right: 550px;
    border-radius: 100px;
    letter-spacing: 5px;
    transition: 1s;
}
/* Styling for the BlogPosts*/
.post {
    margin-top: 40px;
    margin-left: 170px;
    margin-bottom: 100px;
    height: 100%;
    width: 60%;
    padding: 0px 40px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(12px 10px 4px #a4a4a4);
    z-index: 3;
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 1.5px;
}
/* Styling for the back button on blogposts*/
.postback {
    margin-top: 10px;
    margin-bottom: -10px;
}
/*styling for the anchor on the back button in blogposts*/
.postback a {
    background-color: #f7f5ed;
    color: #13293D;
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    transition: 0.7s;
}
/* animation and styling for the back button on BLogPost*/
.postback a:hover {
    padding-right: 40px;
    transition: 0.7s;
    background-color: #B1D0E0;
    letter-spacing: 20px;
}

#posthomepage {
    color: #f7f5ed;
    transition: 0.5s;
}

#posthomepage:hover {
    color: aqua;
    transition: 0.5s;
}
/* styling for the current page the user is on*/
.current {
    background-color: #B1D0E0;
}
/* Styling for the sidenav div*/
.sidenav {
    width: 145px;
    height: 100%;
    background: #35566b;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 30px;
    margin-top: 50px;
    z-index: 5;
}
/* styling for the sidenavigation list items*/
.sidenavul li {
    display: block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    background-color: #f7f5ed;
    margin-right: 20px;
    border-radius: 15px;
    padding: 10px;
    filter: drop-shadow(12px 10px 4px #1d303b);
    transition: 0.7s;
}
/* styling for the sidenavigation list*/
.sidenavul {
    list-style-type: none;
    position: fixed;
    z-index: 100;
}
/* styling for the anchor items in the sidenav*/
.sidenavul a {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 40px;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #13293D;
}
/* animation for the sidenav items*/
.sidenavul li:hover {
    background-color: #B1D0E0;
    padding-bottom: 50px;
    vertical-align: middle;
    transition: 0.5s;
}