body {
    width: 100%;
    height: auto;
    margin: 0;
    background-color: #f7f5ed;

}

#profilebody,
#faqbody {
    Height: 1200px;
}

#dashboardbody {
    height: 1500px;
}

main {
    height: auto;

}

nav {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    padding: 10px 0px;
    overflow: hidden;
    position: fixed;
    list-style-type: none;
    overflow: hidden;
    background-color: #406882;
    width: 100%;
    z-index: 5;
}

.nav a:hover,
.dropdown:hover .dropbtn {
    background-color: #1A374D;
    transition: 0.6s;
}

.nav a:active {
    background-color: #B1D0E0;
}

#navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 18px 19px;
    text-decoration: none;
    border-radius: 5px;
}

.nav img {
    float: left;
    width: 200px;
    padding-left: 10px;
    height: 50px;
}

.nav #hzlink {
    display: overlay;

}

#navbar {
    position: relative;
    left: 20px;
}

footer {
    margin-top: 500px;
    background-color: black;
    clear: both;
}

.footer {
    z-index: 20;
}

.pagename {
    padding-top: 74px;
    margin-right: 205px;
    margin-left: 30px;
}


.pagename h1 {
    text-align: center;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    letter-spacing: 7px;
}

.header2 {
    margin-right: 205px;
    margin-left: 30px;

}

.header2 h3 {
    text-align: center;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    letter-spacing: 7px;
    font-size: 22px;
    margin-bottom: 50px;

}

.personal h2,
.nationality h2,
.extracurricular h2 {
    display: inline-block;
}

.icon {
    margin-top: 12px;
    float: right;
    vertical-align: center;
    width: 40px;

}

.personal {
    float: left;
    margin-left: 60px;
    height: 100%;
    width: 30%;
    padding: 10px 30px;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(12px 10px 4px #a4a4a4);
    z-index: 3;
}

.nationality {
    margin-right: 257px;
    float: right;
    height: 100%;
    width: 30%;
    padding: 10px 30px;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(12px 10px 4px #a4a4a4);
    z-index: 3;
}

.personal hr,
.nationality hr,
.extracurricular hr,
.faq hr {
    background-color: aliceblue;
    margin: -5px;

}

#listnamework {
    font-size: 20px;
    font-weight: bold;
}

#listnamehobbies {
    font-size: 20px;
    font-weight: bold;
}

#flag {
    margin-top: 23px;
    width: 100%;
    height: 110px;
    margin-bottom: 20px;
}

#hrtag {
    clear: both;
    margin-right: 205px;
    margin-left: 30px;
}

#hrtag hr {
    margin-top: 320px;
    border-radius: 2px;
    background-color: black;
    border-width: 1px;
    width: 50%;
}

.extracurricular {
    float: left;
    margin-left: 50px;
    height: 100%;
    width: 75.9%;
    padding: 10px 30px;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(12px 10px 4px #a4a4a4);
    z-index: 1;
}

.extracurricular p {
    font-size: 15px;
}

.extracurricular li {
    padding: 5px 0px;

}

#work {
    font-size: 20px;
    line-height: 30px;
}

#dashboard {
    border: 2px solid;
    margin-left: 80px;
    margin-top: 30px;
    height: 65%;
    width: 75.9%;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    z-index: 1;
    font-size: 20px;
    border-collapse: collapse;

}

#dashboard tr {
    text-align: center;
    line-height: 45px;
}

#hrtagdash {
    clear: both;
    margin-right: 205px;
    margin-left: 30px;
}

#hrtagdash hr {
    color: black;
    margin-top: 30px;
    border-radius: 20px;
    background-color: black;
    border-width: 1.3px;
    width: 50%;
}

#pbar {
    padding: 20px;
    margin-left: 295px;
    width: 50%;
}


.faq {
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 65%;
    width: 75.9%;
    padding: 30px 30px;
    background-color: #13293D;
    text-align: left;
    color: #f7f5ed;
    border-radius: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    filter: drop-shadow(12px 10px 4px #a4a4a4);
    z-index: 1;

}

.faq img {
    margin: 20px;
}

#faqhr {
    margin-top: 10px;
    margin-bottom: 15px;
}

.faq ol {
    font-size: 18px;
    line-height: 60px;
}

.faq ul {
    list-style-type: square;
    line-height: 30px;
    word-spacing: 4px;
}

.faq a {
    color: aliceblue;
}

.faq a:hover {
    color: aqua;
}


.current {
    background-color: #B1D0E0;
}

.sidenav {
    width: 145px;
    height: 100%;
    background: #35566b;
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px 30px;
    margin-top: 20px;
    z-index: 5;
}

.sidenavul li {
    display: block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;

}

.sidenavul {
    list-style-type: none;
    position: fixed;
    z-index: 100;


}

.sidenavul a {
    font-size: 15px;

    color: white;

}

.sidenav a:hover {
    color: #B1D0E0;
}